[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
plotly = "*"
numpy = "*"
scikit-learn = "*"
seaborn = "*"
scipy = "*"
streamlit = "*"
snowflake-snowpark-python = "*"
pyarrow = "==10.0.1"
plotly-resampler = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
